################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/Kkts/v16/TestStore/0
/src/Kkts.Expressions/bin
/src/Kkts.Expressions.UnitTest/bin
/src/Kkts.Expressions.UnitTest/obj
/src/Kkts.Expressions/obj
/src/.vs/Kkts/v16/.suo
*.v2
/src/.vs
/examples/Kkts.Examples/.vs
/examples/Kkts.Examples/Kkts.Examples.VariableResolver/obj
/examples/Kkts.Examples/Kkts.Examples.VariableResolver/bin
/examples/Kkts.Examples/Kkts.Examples.VariablesAndInOperator/bin
/examples/Kkts.Examples/Kkts.Examples.VariablesAndInOperator/obj
